.usuario {
	color: gray;
	font-size: 12px;
	padding: 20px 10px;
}

.descripcion {
	color: black;
	font-size: 16px;
}

.card {
	border: solid 1px gray;
	margin-bottom: 10px;
}

.opciones {
	display: flex;
}

ion-avatar {
	align-self: center;
	width: 34px;
	height: 34px;
}

.usuario-card-header {
	display: flex;
}

.nombre-de-usuario {
	align-self: center;
	margin-left: 10px;
}

.publicacion-foto {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 500px;
}